button span {
  font-size: 35px;
}
.data-Container {
  width: 100%;
}
.table-Container {
  margin-bottom: 75px;
}
table {
  width: 100%;
}
.filter {
  margin: 0px auto 0px 0px !important;
}
#overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: 2;
  //pointer-events: none;
}
/*#overlay div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
  color: lightgrey;
}*/
@media only screen and (max-width: 600px) {

  button span {
    font-size: 35px;
  }

  .mat-cell {
    font-size: 0.8rem;
  }

  .filter {
    margin: 0px auto 0px 0px !important;
  }

  button {
    font-size: 0.7rem;
  }

  .fab-button {
    position: fixed;
    right: 5%;
    bottom: 5%;
  }
  mat-paginator {
    font-size: 0.6rem;
  }

  table mat-icon {
    font-size: 1.2rem;
  }
  mat-form-field {
    max-width: 33%;
  }
  data-Container {
    max-width: 95%;
  }

}
