<mat-card style="display: inline-block;">
  <mat-card-title>
    Add a song
  </mat-card-title>


  <mat-card-actions>
    <button mat-icon-button (click)="fileInput.click()">
      <span class="material-icons">
        add_circle
      </span>
    </button>
    <input hidden (change)="onFileSelected($event.target.files)" #fileInput type="file" id="file">
    <button mat-raised-button color="primary" (click)="postFile()" [disabled]="this.fileToUpload === null">
      Upload
    </button>
  </mat-card-actions>
</mat-card>

<br/>

<app-file-card *ngFor="let file of this.fileNames" [name]=file>

</app-file-card>
