<div fxLayoutAlign="center">
<mat-card>
  <mat-card-title>
    Add a song
  </mat-card-title>

  <mat-card-actions>
    <button mat-icon-button (click)="fileInput.click()">
      <span class="material-icons">
        add_circle
      </span>
    </button>
    <input hidden (change)="onFileSelected($event.target.files)" #fileInput type="file" id="file" accept=".mp3">
    <button mat-raised-button color="primary" (click)="postFile()" [disabled]="this.fileToUpload == null">
      Upload
    </button>
  </mat-card-actions>
</mat-card>
</div>

<div>
  <app-file-card *ngFor="let song of this.songs" [song]=song>
  </app-file-card>
</div>
