<mat-toolbar color="primary" fxLayoutGap="2rem" fxLayoutAlign="none center">
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="(this.isSmallScreen | async)!.matches">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Garmusic</span>
  <button mat-icon-button class="end-line" (click)="logout()" matTooltip="Delete" matTooltipPosition="left">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
    [ngClass]="!(this.isSmallScreen | async)!.matches ? 'sidenav-desktop' : 'sidenav-phone'"
    [opened]="!(this.isSmallScreen | async)!.matches"
    [disableClose]="!(this.isSmallScreen | async)!.matches"
    [mode]="!(this.isSmallScreen | async)!.matches ? 'side' : 'over'"
    [autoFocus]="false">
    <mat-nav-list>
      <mat-list-item routerLink="profile" routerLinkActive="active"><mat-icon matListIcon>account_circle</mat-icon>Account</mat-list-item>
      <mat-list-item routerLink="songs" routerLinkActive="active"><mat-icon matListIcon>music_note</mat-icon>Songs</mat-list-item>
      <mat-list-item routerLink="playlists" routerLinkActive="active"><mat-icon matListIcon>library_music</mat-icon>Playlists</mat-list-item>
     </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxLayoutAlign="center start">

      <div class="content-container">
        <router-outlet></router-outlet>
      </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<mat-spinner *ngIf="this.getLoading() | async" class="spinner"></mat-spinner>
