<mat-toolbar color="primary" fxLayoutGap="2rem" fxLayoutAlign="none center">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="name">Garmusic</span>
  <button mat-icon-button class="end-line" (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>



<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <mat-list-item routerLink="profile" routerLinkActive="active"><mat-icon matListIcon>account_circle</mat-icon>Account</mat-list-item>
      <mat-list-item routerLink="songs" routerLinkActive="active"><mat-icon matListIcon>music_note</mat-icon>Songs</mat-list-item>
      <mat-list-item routerLink="playlists" routerLinkActive="active"><mat-icon matListIcon>library_music</mat-icon>Playlists</mat-list-item>
     </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="row" fxLayoutAlign="center start">
    <div *ngIf="this.showMain" >

      <button mat-button color="primary" routerLink="profile">Profile</button>
      <button mat-button color="primary" routerLink="songs">Song</button>
    </div>
    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

