<div fxLayoutAlign="center">

  <mat-card class="main">
    <mat-card-title>
      Add a playlist
    </mat-card-title>

    <mat-card-actions>
      <button mat-icon-button (click)="addPlaylist()">
        <span class="material-icons">
          add_circle
        </span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div>
  <mat-card *ngFor="let item of playlists" (click)="showInfo(item.id)" class="item">

    <mat-card-title>
      {{item.name}}
    </mat-card-title>

    <mat-card-actions fxLayoutAlign="end end">

      <button mat-icon-button (click)="deletePlaylist();$event.stopPropagation()">
        <span class="material-icons">
          delete
        </span>
      </button>

    </mat-card-actions>
  </mat-card>
</div>
