.item {
  margin: 1rem;
  display: inline-flex;
  cursor: pointer;
  width: 240px;
  overflow: hidden;
  height: 140px;
  flex-direction: column
}
.item mat-card {
  width: 100%;
  height: auto;
}
.item mat-card-title {
  color: #334acc;
}
.item mat-card-content {
  margin-bottom: 0px;
}
.item mat-card-content div {
  justify-content: space-around;
}
.item mat-card-actions {
  flex-grow: 1;
  overflow: auto;
}
.main {
  margin: 1rem;
  display: inline-block;
  //cursor: pointer;
}
button span {
  font-size: 35px;
}
.fab-button {
  position: fixed;
  right: 3%;
  bottom: 5%;
  z-index: 1;
}
@media only screen and (max-width: 600px) {

  .fab-button {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1;
  }
}
