.item {
  margin: 1rem;
  display: inline-flex;
  cursor: pointer;
  width: 240px;
  overflow: hidden;
  height: 140px;
  flex-direction: column
}
.item mat-card {
  width: 100%;
  height: auto;
}
.item mat-card mat-card-title {
  font-size: 0.5rem;
}
.item mat-card-actions {
  flex-grow: 1;
  overflow: auto;
}
.main {
  margin: 1rem;
  display: inline-block;
  //cursor: pointer;
}
