<div fxLayoutAlign="center center" fxLayout="column" style="margin-bottom: 10vh;">

  <button fxFlexAlign="end" mat-raised-button color="primary" (click)="addPlaylist()">Add playlist</button>


  <div style="margin-top: 10px;" fxFlexAlign="start">
    <mat-card *ngFor="let item of playlists" (click)="showInfo(item.id)" class="item">

      <mat-card-title>
        {{item.name}}
      </mat-card-title>

      <mat-card-content>
        <div *ngFor="let i of descSongsIndex">
          {{item.songs[i]?.name}}
        </div>
        <div *ngIf="item.songs?.length > 3">
          &#x22EE;
        </div>
      </mat-card-content>

      <mat-card-actions fxLayoutAlign="end end">

        <button mat-icon-button (click)="deletePlaylist(item.id);$event.stopPropagation()" matTooltip="Delete">
          <span class="material-icons">
            delete
          </span>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>

  <!-- <ng-template #fab> -->
    <button class="fab-button" mat-fab color="primary" (click)="addPlaylist()">
      <mat-icon>add</mat-icon>
    </button>
  <!-- </ng-template> -->

</div>
