<h2 mat-dialog-title>Add a playlist</h2>
<!-- <mat-dialog-content>add-playlist-dialog works!</mat-dialog-content> -->
<form [formGroup]="playlistForm" (ngSubmit)="onSubmit()">
  <mat-form-field >
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="My playlist">
    <mat-error>Fill a name</mat-error>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" cdkFocusInitial type="submit">Add</button>
    <button mat-stroked-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
