.item {
  margin: 1rem;
  display: inline-block;
  //cursor: pointer;
  width: 120px;
  overflow: hidden;
  height: 70px;
}
.item mat-card-title {
  font-size: 1rem;
}
.main {
  margin-bottom: 1rem;
  display: inline-block;
  //cursor: pointer;
}
table {
  width: 100%;
}
.header {
  margin: 0px auto 0px 0px !important;
}
.main-Container {
  margin: 20px 15px 0px 15px;
}
.data-Container {
  margin-top: 20px;
}
