<p>main-prototype works!</p>
<h1>Vsechny:</h1>
<br>

<button mat-raised-button color="primary" (click)="dropboxRequest()">Dropbox</button>

<audio controls>
  <source src="https://localhost:44303/api/Mp3/info" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<audio controls>
  <source type="audio/mpeg" src="https://localhost:44303/api/Mp3/">
Your browser does not support the audio element.
</audio>

<video width="320" height="240" controls autoplay>
  <source src="https://localhost:44303/api/Mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div>
<button (click)="uploadFile()">Odeslat</button>

<div *ngFor="let item of weatherForecast">
  {{item.date}}<br>
  {{item.summary}}<br>
  {{item.temperatureC}}<br><br><br>
</div>

<div *ngIf="singleForecast"><strong>
  {{singleForecast.date}}<br>
  {{singleForecast.summary}}<br>
  {{singleForecast.temperatureC}}<br><br><br>
</strong></div>
