<p>main-prototype works!</p>
<h1>Vsechny:</h1>
<br>

<audio controls *ngIf="mp3File">
  <source src="https://localhost:44329/api/Mp3/5" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<video width="320" height="240" controls>
  <source src="https://localhost:44329/api/Mp3" type="video/mp4">
Your browser does not support the video tag.
</video>

<div *ngFor="let item of weatherForecast">
  {{item.date}}<br>
  {{item.summary}}<br>
  {{item.temperatureC}}<br><br><br>
</div>

<div *ngIf="singleForecast"><strong>
  {{singleForecast.date}}<br>
  {{singleForecast.summary}}<br>
  {{singleForecast.temperatureC}}<br><br><br>
</strong></div>
