<form @remove *ngIf="!this.load" [formGroup]="this.registerForm" (ngSubmit)="onSubmit()" class="form-flex">
  <mat-card>

    <mat-card-title>
      Sign up
    </mat-card-title>

    <mat-card-content fxLayout="column" fxLayoutGap="1rem">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem">
        <mat-form-field>
          <input formControlName="firstName" required matInput placeholder="First name">
        </mat-form-field>


        <mat-form-field>
          <input formControlName="lastName" required matInput placeholder="Last name" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem">

        <mat-form-field>
          <input formControlName="email" required matInput placeholder="Email adress" />
          <mat-error>Email format is invalid</mat-error>
        </mat-form-field>


        <mat-form-field>
          <input formControlName="username" required matInput placeholder="Username" />
          <mat-hint>Displays on your profile</mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem">
        <mat-form-field>
          <input formControlName="password" required matInput type="password" placeholder="Password" />
        </mat-form-field>

        <mat-form-field>
          <input formControlName="retypePassword" required matInput type="password" placeholder="Re-type password" />
          <mat-error>Passwords do not match</mat-error>
        </mat-form-field>
      </div>

      <div fxLayoutAlign="center center" fxLayout="column">
        <a class="register-text" (click)="this.showLogin()">Already have an account?</a>

        <div class="button-flex-container">
          <button mat-raised-button color="primary" type="submit">Sign
            up</button>
        </div>
      </div>

    </mat-card-content>

  </mat-card>
</form>

<mat-spinner *ngIf="this.load" class="spinner"></mat-spinner>
